@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Permanent+Marker&display=swap');
body { 
    font-family: "Permanent Marker", cursive; 
    display: grid; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 100vh; 
    background-color: #000; 
    background-image: url(../imagenes/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.login-container {   
    background-color: #000; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 0px 8px 6px rgb(34, 255, 18);
    width: 300px; 
}
.login-container h2 {  
    margin-bottom: 10px; 
    margin-top: 2px;
    font-size: 35px;
    color: #22ff12;
}
.login-container label { 
    display: block; 
    margin-bottom: 20px; 
    margin-top: 20px;
    color: #22ff12;
}
.login-container input { 
    width: 95%; 
    padding: 8px; 
    border: 1px solid #22ff12; 
    border-radius: 7px; 
}
.error-message {  
    color: red;  
    margin-top: 10px;  
}
.login-container button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }    
  .login-container button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #22ff12;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Permanent Marker", cursive;
    position: sticky;
    text-transform: uppercase;
    color: transparent;
    margin-top: 15px;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    margin-left: 50%;
    transform: translateX(-50%);
  }  
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  .login-container button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  footer{
    color: #22ff12;
  }
  header{    
    position: relative;  
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    text-align: right;
    color: #fff;
    display: inline-flex;
}
a:link, a:visited
{
    text-decoration: none;
    color: #fff;
}
a:active{
    color: rgb(139, 238, 139);
}
ul{
    list-style: none;
    display: inline-flex; 
    justify-content: space-between;    
    font-size: 25px;
}